@import "variables";


body, html {
    //cursor: none; 
    cursor: pointer;
    background: #f2f2f2;
    line-height: normal;
}
.MMM-page-indicator {
    display: none;
}

h3, p {
    margin: auto;
}

.error_handler--wrapper {
    position: relative;
    margin-top: 500px;
    margin-left: 250px;
}

.essen {
    &--headline-2 {
        margin-bottom: 0;
    }
    &--imgandtext-wrapper {
        display: block;
    }
    &--wrapper {
        width: 96%;
        background: white;
        padding: 20px;
        max-width: 1750px;
        margin-left: 10px;
        border-radius: 20px;
    }
    &--container {
        max-width: 95%;
        margin: auto;
    }
    &--actual {
        &-wrapper {
            display: flex;
            justify-content: space-evenly;
        }
    }
    &--text {
        margin: 0;
        font-size: 2.75rem;
        &-wrapper {
            display: inline-block;
            flex-direction: column;
            text-align: left;
        }
        span {
            font-weight: 700;
            margin-right: 10px;
        }
    }
    &--img {
        max-width: 200px;
        display: inline-block;    
        margin-bottom: 20px;
        vertical-align: top;
    }
}

.alert-window {
    position: absolute;
    width: 800px;
    height: 800px;
    background: lightcoral;
    font-size: 5rem;
    color: white;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    vertical-align: middle;
    display: flex;
}

.region.top {
    left:0 ;
}
.region.top.right {
    right: 5.9%;
    left: unset;
    text-align: unset;
}

.region.lower.third {
    top: 56%;
    width: 100%;
}

.region.lower.third > .container {
    display: flex !important;
    flex-direction: row;
}

.region.top.right > .container {
    display: flex !important;
    flex-wrap: wrap;
}

.region.top.center {
    left: 40%;
    .container {
        display: flex !important;
        flex-wrap: wrap;
        margin-left: 16%;
    }
}

.region.bottom.center {
    left: 38.5%;
}

.region.bottom.right {
    right: 4.6%;
}

.region.upper.third {
    top: 49%;
    left: 21.3%;
    width: auto;
}

.MMM-iFrame {
    padding: 20px;
    border-radius: 20px;
    background: white;
}

#module_36_MMM-iFrame {
    position: absolute !important;
    top: 35px;
    left: 8px;
    max-height: 385px;
    overflow: hidden;
}

#module_38_MMM-iFrame {
    position: absolute !important;
    top: -110px;
}

#module_37_MMM-iFrame {
    position: absolute !important;
    top: 35px;
    left: 300px;
    overflow: hidden;
    .mmm-iframe {
        //height: 1000px;
    }
    .mmm-iframe-wrapper {
        //height: 90vh;
    }
}

.MMM-OpenmapWeather {
    padding: 20px;
    border-radius: 20px;
    margin-top: 35px;
    background: white;
    height: 210px;
    .bright {
        color: black;
    }
}

.newsfeed {
    background: white;
    margin-top: 35px;
    margin-left: 20px;
    padding: 20px;
    border-radius: 20px;
    width: 70vw;
    color: black;
    height: 210px;
    .newsfeed-title {
        color: black;
        font-size: 3.5rem;
        line-height: normal;
    }
}

.MMM-COVID19 {
    max-width: 91%;
    padding: 20px;
    border-radius: 20px;
    background: white;
    margin-left: 0.5%;
    .module-content {
        font-size: 3rem;
    }
}



.profit {
    padding: 25px;
    height: 100vh;
    background: #dddddd;
    min-width: 310px;
    max-width: 325px;
    
    .module-content {
        margin-top: 45px;
    }
    &--wrapper {
        display: flex;
        flex-direction: column;
        min-height: 80vh;
        justify-content: space-between;
    }
    &--block {
        background: whitesmoke;
        padding: 30px 20px 30px 20px;
        border-radius: 20px;

        &-header {
            font-weight: normal;
            font-size: $profit--headline-fontsize;
            text-align: right;
            color: #888888;
        }
        &-number {
            font-size: $profit--number-fontsize;
            font-weight: bold;
            color: #696969;
            text-align: right;
        }
        &-percent {
            margin-left: 5px;
            font-weight: 500;
            font-size: $profit--percent-fontsize;
            margin-left: 5px;
        }
        &-percent.red {
            color: lightcoral;
        }
        &-percent.green {
            color: lightgreen;
        }
    }
}

.pv_double {
    margin-left: 64%;
    margin-top: 20px;
}

#module_11_pv {
    margin-left: 64%;
    margin-top: -9px;
}
#module_12_pv {
    margin-left: 64%;
    margin-top: 20px;
}

.pv {
    margin-left: 25px;
    margin-bottom: 0;
    margin-top: 20px;
    &--wrapper {    
        padding: 20px;
        background: white;
        border-radius: 20px;
    }
    &--wrapperdouble {
        display: flex;
    }
    &--block {
        padding: 70px 0 100px 0;
        z-index: 5;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        &-graph {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 0;
            width: 100%;
            max-width: 150px;
        }
        &-efficiency {
            font-size: 2.75rem;
        }
    }
    &--container {
        &-double {
            min-height: 272px;
            min-width: 280px;
            .pv--headline-4 {
                margin-top: 10px;
            } 
        }
        position: relative;
        min-height: 230px;
        min-width: 243px;
    }
    &--headline-4 {
        margin-bottom: 0;
    }

}

#module_13_vorlauf {
    padding-left: 23px;
    padding-top: 20px;
}

.vorlauf {
    &--wrapper {
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        background: white;
        padding: 20px;
        width: 860px;
        canvas {
            width: 860px !important;
        }
    }
}

.status {
    margin-top: $spacer--top;
    min-width: 718px;
    margin-left: -19.3%;

    &--wrapper {    
        display: flex;
        min-width: 527px;
        padding: 0 50px;
        justify-content: space-between;
        border-radius: 20px;;
        background: white;
        &_one {
            max-width: unset;
            height: 330px;
            .status--block-indicator {
                left: 47%;
            }
        }
        &_two {
            min-width: 584px;
            .status--headline-4 {
                font-size: 20px;
                text-align: center;
            }
            .status--block-indicator {
                left: 47%;
            }
        }
        &_seven {
            position: absolute;
            top: 300%;
            left: 20.85%;
        }
        &_eight {
            right: 12.3%;
            position: absolute;
            top: 300%;
        }
    }
    &--headline {
        &-4 {
            font-size: 24px;
            margin: 0;
            min-height: 64px;
            margin-top: 15px;
        }
    }
    &--block {
        &-twothird {
            display: flex;
            width: 45%;
            flex-direction: column;
        }
        &-center {
            display: block;
            margin: auto;
            margin-bottom: 0;
            //margin: auto 70px;
        }
        &-left {
            position: relative;
            min-width: 200px;
        }
        &-helper {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            position: relative;
            min-height: 225px;
        }
        &-graph {
            position: absolute;
            width: 200px;
            left: 12%;
            //bottom: 0;
        }
        
        &-indicator {
            position: absolute;
            width: 20px;
            top: 38%;
            -webkit-transition: 1s ease-in-out;
            -moz-transition: 1s ease-in-out;
            -o-transition: 1s ease-in-out;
            transition: 1s ease-in-out;
            left: 51%;
            transform-origin: 50% 10px;
            transform: rotate(43deg);
        }
        &-efficiency {
            color: #666666;
        }
        &-effiText {
            color: #666666;
            font-size: 14px;
        }
        &-right {
            background: #cacaca;
            padding: 40px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }
    &--right {
        width: 40%;
        &-row {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            .status--text {
                &-grey {
                    font-size: $status--right-textsize;
                    font-weight: $status--right-textweight;
                    color: $status--right-textcolor;
                    margin-left: 15px;
                    margin-right: 10px;
                }
                &-number {
                    margin-right: 15px;
                    font-size: $status--right-textsize;
                    color: $status--right-numbercolor;
                    font-weight: $status--right-numberweight;
                }
            }
        }
    }
}

.status_three {
    margin-top: 35px;
    margin-left: -28%;
}
.status_four {
    margin-top: 35px;
    margin-left: -18%;
}

.status_five {
    .status--wrapper_five {
        margin-left: auto;
        margin-right: 120px;
        max-width: 527px;
        margin-right: 12.25%;
    }
}

.status_six {
    margin-top: 22px;
}

.average {
    margin: auto;
    min-width: 718px;
    &--wrapper {
        background-image: url("/modules/average/public/average_background.png");
        margin: auto;
        padding: 40px;
        border-radius: 20px;
        background-size: cover;
        justify-content: space-between;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: row;
    }
    &--left {
        &-wrapper {
            background: rgba(255, 255, 255, 0.9);
            border-radius: 20px;
            position: relative;
        }
        &-content {
            padding: 50px 0 40px 0;
            margin-left: 40%;
        }
    }
    &--right {
        &-wrapper {
            background: rgba(255, 255, 255, 0.9);
            border-radius: 20px;
            position: relative;
        }
        &-content {
            padding: 50px 0 40px 0;
            margin-left: 40%;
        }
    }
    &--container {
        width: 47%;
    }
    &--image {
        &-graph {
            position: absolute;
            width: 110px;
            left: 8%;
            top: 20%;
        }
        &-weight {
            position: absolute;
            width: 90px;
            left: 18%;
            top: 23%;
        }
    }
}

.delivery_status {
    display: inline-block;
    text-align: center;
    max-width: 330px;
    margin-top: $spacer--top;
    &--wrapper {
        border-radius: $module--border-radius;
        background: white;
    }
    &--container {
        padding-bottom: 50px;
    }

    &--headline {
        margin: 0;
        padding-top: 15px;
        font-size: $delivery--headline-fontsize;
        font-weight: $delivery--headline-fontweight;
    }

    .progress-ring__circle {
        stroke-dasharray: 10 20;
        transition: stroke-dashoffset 0.35s;
        transform: rotate(90deg);
        transform-origin: 50% 50%,
    }

    &--graph {
        &-container {
            padding: 10px 0 20px 0;
            min-width: 330px;
            position: relative;
            .graph--text-wrapper {
                display: flex;
                width: 100%;
                justify-content: center;
                flex-direction: column;
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &-text {
            font-size: 1rem;
        }
        &-number {
            font-size: 3rem;
            font-weight: 600;           
        }
    }

    &--text {
        &-wrapper {
            padding: 40px 0;
            min-height: 100px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            background: #cacaca;
        }
        &-row {
            display: flex;
            flex-direction: row;
            min-width: 200px;
            margin: 0 50px;
            justify-content: space-between;
        }
        &-copytext {
            font-size: $status--right-textsize;
            color: $status--right-textcolor;
            margin-left: 0;
            margin-right: 0;
        }
        &-number {
            color: white;
            font-weight: 700;
            font-size: 1.5rem;
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.deliveries_by_country {
    max-width: 330px;
    margin-top: $spacer--top;
    margin-left: auto;
    margin-right: 5%;

    &--wrapper {
        border-radius: 20px;
        background: white;   
    }

    &--helper {
        position: absolute;
        right: 2.4%;
        top: 11%;
    }

    &--container {
        padding-bottom: 50px;
        padding-top: 220px;
    }

    display: inline-block;
    &--headline {
        padding-top: 15px;
        font-size: $delivery--headline-fontsize;
        font-weight: $delivery--headline-fontweight;
    }

    &--graph {
        &-wrapper {
            padding-top: 10px;
        }
    }

    $lightgrey: #a5a5a5;
    $darkgrey: #5f5f5f;
    $lightblue: #70c3ed;
    $orange: orange;

    .lightgrey {
        background: $lightgrey;
    }

    .darkgrey {
        background: $darkgrey;
    }

    .lightblue {
        background: $lightblue;
    }

    .orange {
        background: $orange;
    }

    .chart {
    background: 
        conic-gradient( 
            $lightgrey 19%, 
            $darkgrey 0 40%,
            $lightblue 0 65%,
            $orange 0 
        );
        border-radius: 50%;
        width: 200px;
        margin: auto;
        height: 0;
        padding-top: 200px;
    }
    &--text {
        &-wrapper {
            padding: 20px 60px;
            margin-top: 69px;
            background: #cacaca;
            min-height: 140px;
            justify-content: space-evenly;
        }
    }

    &--rect {
        width: 20px;
        height: 20px;
        margin: auto 20px auto 0;
        &-orange {
            background: $orange;
        }
        &-lightgrey {
            background: $lightgrey;
        }
        &-darkgrey {
            background: $darkgrey;
        }
        &-lightblue {
            background: $lightblue;
        }
    }

    &--row {
        display: flex;
        flex-direction: row;
        
        &-text {
            font-size: 1.5rem;
            color: #666;
            margin-left: 0;
            margin-right: 0;
            padding-right: 20px;
        }
        &-number {
            color: white;
            font-weight: 700;
            font-size: 1.5rem;
            margin-left: auto;
            margin-right: 0;
        }
    }

}

.profit_graph {
    min-width: 680px;
    &--wrapper {
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        background: white;
        padding: 20px;
        width: 678px;
        margin-left: 37px;
    }

    &--helper {
        display: flex;
    }

    &--y_axe {
        &-wrapper {
            display: flex;
            flex-direction: column;
        }
        &-text {
            margin-left: 0;
            display: block;
            font-size: 14px;
            width: auto;
        }
    }

    &--x_axe {
        &-wrapper {
            display: flex;
            margin-left: 30px;
            border-top: 1px solid;
            margin-top: 10px;
            flex-direction: row;
        }
        &-month {
            font-size: 14px;
        }
    }

    &--chart {
        display: flex;
        height: 100%;
        width: 100%;
    }
}

.avg_delivery_time {
    min-width: 680px;
    &--wrapper {
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        background: white;
        padding: 20px;
    }

    &--chart {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(100, 1fr);
        grid-column-gap: 5px;
        height: 14vh;
        width: 70vw;
        padding: 5px 0;
    }

    &--x_axe {
        display: flex;
        &-month {
            font-size: 12px;
        }
    }

    [class*="bar"] {
        margin: 0 15px;
        transition: all .6s ease;
        background-color: #70c3ed;
        grid-row-start: 1;
        grid-row-end: 101;
    }

    $totalRows: 101;

    @mixin chartValue($data) {
    $result: $totalRows - $data;
    grid-row-start: $result;
    }

    @for $i from 1 through $totalRows {
    .bar-#{$i} {
        @include chartValue($i);
    }
    }
    
    &--helper {
        display: flex;
    }
}

.MMM-Chart {
    background: white;
    margin-left: 4%;
    border-radius: 20px;
    padding: 20px;
    margin-top: -30px;
}

.compare {
    margin-left: auto;
    margin-right: 92px;
    min-width: 680px;
    margin-bottom: 38px;

    &--wrapper {
        max-width: 580px;
        display: flex;
        padding: 0 50px;
        justify-content: space-between;
        border-radius: 20px;;
        background: white;
    }

    .status--block-indicator {
        left: 57%;
    }

    .status--headline {
        &-4 {
            font-size: 24px;
        }
    }

    &--graph {
        bottom: unset;
        top: 12%;
    }

    &--block {
        &-center {
            position: absolute;   
            left: 11%;
            top: -11%;
        }
        &-right {
            margin: 44px auto 0 auto;
        }
    }

    .status--block-helper {
        position: relative;
    }

    .status--block-left {
        margin-right: auto;
    }

    .status--block-twothird {
        width: 100%;
    }

    &--indicator {
        left: 46%;
        top: 49%;
    }
}

.MMM-Trello {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin-left: 5%;
    min-height: 270px;
    max-width: 900px;
    min-width: 840px;
    width: 100%;
    color: black;
    .module-header {
        font-size: 3rem;
        line-height: normal;
    }
    .small.light {
        font-size: 30px;
    }
    .medium.light.bright {
        word-wrap: break-word;
        font-size: 3.75rem;
        color: darkgray;
        line-height: normal;
        font-weight: bold;
    }
}

.top.right .MMM-Trello {
    display: block;
    margin-left: 56%;
    width: 100%;
}

.MMM-Fuel {
    padding: 20px;
    border-radius: 20px;
    background: white;
    max-width: 91%;
    margin-left: 0.5%;
    .module-content .small.table.align-left{
        font-size: 3rem !important;
        line-height: normal !important;
    }
}

@media only screen and (max-width: 599px) {
}
/*
@media only screen and (min-width: 600px ) {
    //profti module
    .profit {
        padding: 25px;
        &--block {
            margin: 15px 0;
            padding: 10px;
            &-header {
                font-size: $profit--headline-fontsize_mobile;
            }
            &-number {
                font-size: $profit--number-fontsize_mobile;
            }
            &-percent {
                font-size: $profit--percent-fontsize_mobile;
            }
        }
    }

    //status module
    .status {
        &--wrapper {
            padding: 0 25px;
            display: flex;
            border-radius: 20px;;
            background: white;
        }
        &--block {
            &-helper {
                //padding: 30px 20px 30px 110px;
                position: relative;
            }
            &-graph {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100px;
            }
            &-indicator {
                width: 12px;
                position: absolute;
                top: 54%;
                left: 16%;
                transform-origin: 50% 6px;
                transform: rotate(43deg);
            }
            &-efficiency {
                font-size: $status--efficiency_mobile;   
            }
            &-effiText {
                font-size: $status--efficiency_mobile;
            }

        }
        &--right {
            &-row {
                display: flex;
                flex-direction: row;
                .status--text {
                    &-grey {
                        font-size: $status--right-textsize;
                        font-weight: $status--right-textweight;
                        color: $status--right-textcolor;
                    }
                    &-number {
                        font-size: $status--right-textsize;
                        color: $status--right-numbercolor;
                        font-weight: $status--right-numberweight;
                    }
                }
            }
        }
    }

    
        
}
*/
@media only screen and (min-width: 980px ) {
}

@media only screen and (min-width: 1260px ) {

}
/*
@media only screen and (min-width: 1600px) {
        //profti module
        .profit {
            padding: 25px;
            height: 100vh;
            background: #dddddd;
            
            .module-content {
                margin-top: 45px;
                margin-left: 15px;
            }
            &--wrapper {
                display: flex;
                flex-direction: column;
                min-height: 80vh;
                justify-content: space-between;
            }
            &--block {
                background: whitesmoke;
                padding: 30px 20px 30px 100px;
                border-radius: 20px;
    
                &-header {
                    font-weight: normal;
                    font-size: $profit--headline-fontsize;
                    text-align: right;
                    color: #888888;
                }
                &-number {
                    font-size: $profit--number-fontsize;
                    font-weight: bold;
                    color: #696969;
                }
                &-percent {
                    color: lightcoral;
                    font-weight: 500;
                    font-size: $profit--percent-fontsize;
                    margin-left: 5px;
                }
            }
        }
    
        //status module
        .status {
            margin-top: 50px;
            &--wrapper {
                display: flex;
                padding: 0 50px;
                border-radius: 20px;;
                background: white;
            }
            &--headline {
                &-4 {
                    margin: 0;
                    margin-top: 15px;
                }
            }
            &--block {
                &-twothird {
                    display: flex;
                    flex-direction: column;
                }
                &-center {
                    min-width: 100px;
                    display: block;
                    margin: auto 70px;
                }
                &-left {
                    position: relative;
                    min-width: 200px;
                }
                &-graph {
                    position: absolute;
                    width: 200px;
                    left: 0;
                    bottom: 0;
                }
                &-helper {
                    display: flex;
                    flex-direction: row;
                    min-height: 225px;
                }
                &-indicator {
                    position: absolute;
                    width: 20px;
                    top: 50%;
                    left: 44%;
                    transform-origin: 50% 10px;
                    transform: rotate(43deg);
                }
                &-efficiency {
                    color: #666666;
                }
                &-effiText {
                    color: #666666;
                    font-size: 14px;
                }
                &-right {
                    background: #cacaca;
                    padding: 40px 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                }
            }
            &--right {
                &-row {
                    display: flex;
                    flex-direction: row;
                    min-width: 250px;
                    .status--text {
                        &-grey {
                            font-size: $status--right-textsize;
                            font-weight: $status--right-textweight;
                            color: $status--right-textcolor;
                            margin-left: 15px;
                        }
                        &-number {
                            margin-right: 15px;
                            font-size: $status--right-textsize;
                            color: $status--right-numbercolor;
                            font-weight: $status--right-numberweight;
                        }
                    }
                }
            }
        }
    
        .average {
            min-width: 840px;
            margin: auto;
            &--wrapper {
                background-image: url("/modules/average/public/average_background.png");
                margin: auto;
                padding: 40px;
                border-radius: 20px;
                background-size: cover;
                justify-content: space-between;
                background-repeat: no-repeat;
                display: flex;
                flex-direction: row;
            }
            &--left {
                &-wrapper {
                    background: rgba(255, 255, 255, 0.9);
                    border-radius: 20px;
                    position: relative;
                }
                &-content {
                    padding: 50px 0 40px 0;
                    margin-left: 40%;
                }
            }
            &--right {
                &-wrapper {
                    background: rgba(255, 255, 255, 0.9);
                    border-radius: 20px;
                    position: relative;
                }
                &-content {
                    padding: 50px 0 40px 0;
                    margin-left: 40%;
                }
            }
            &--container {
                width: 47%;
            }
            &--image {
                &-graph {
                    position: absolute;
                    width: 150px;
                    left: 8%;
                    top: 15%;
                }
                &-weight {
                    position: absolute;
                    width: 90px;
                    left: 18%;
                    top: 23%;
                }
            }
        }

       

}*/

@media only screen and (min-width: 1900px) {

    //profti module
    

    //status module
    

    //average module
    

    
    

    

}