body, html {
  cursor: pointer;
  background: #f2f2f2;
  line-height: normal;
}

.MMM-page-indicator {
  display: none;
}

h3, p {
  margin: auto;
}

.error_handler--wrapper {
  position: relative;
  margin-top: 500px;
  margin-left: 250px;
}

.essen--headline-2 {
  margin-bottom: 0;
}

.essen--imgandtext-wrapper {
  display: block;
}

.essen--wrapper {
  width: 96%;
  background: white;
  padding: 20px;
  max-width: 1750px;
  margin-left: 10px;
  border-radius: 20px;
}

.essen--container {
  max-width: 95%;
  margin: auto;
}

.essen--actual-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.essen--text {
  margin: 0;
  font-size: 2.75rem;
}

.essen--text-wrapper {
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.essen--text span {
  font-weight: 700;
  margin-right: 10px;
}

.essen--img {
  max-width: 200px;
  display: inline-block;
  margin-bottom: 20px;
  vertical-align: top;
}

.alert-window {
  position: absolute;
  width: 800px;
  height: 800px;
  background: lightcoral;
  font-size: 5rem;
  color: white;
  z-index: 1000;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.region.top {
  left: 0;
}

.region.top.right {
  right: 5.9%;
  left: unset;
  text-align: unset;
}

.region.lower.third {
  top: 56%;
  width: 100%;
}

.region.lower.third > .container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.region.top.right > .container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.region.top.center {
  left: 40%;
}

.region.top.center .container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 16%;
}

.region.bottom.center {
  left: 38.5%;
}

.region.bottom.right {
  right: 4.6%;
}

.region.upper.third {
  top: 49%;
  left: 21.3%;
  width: auto;
}

.MMM-iFrame {
  padding: 20px;
  border-radius: 20px;
  background: white;
}

#module_36_MMM-iFrame {
  position: absolute !important;
  top: 35px;
  left: 8px;
  max-height: 385px;
  overflow: hidden;
}

#module_38_MMM-iFrame {
  position: absolute !important;
  top: -110px;
}

#module_37_MMM-iFrame {
  position: absolute !important;
  top: 35px;
  left: 300px;
  overflow: hidden;
}

.MMM-OpenmapWeather {
  padding: 20px;
  border-radius: 20px;
  margin-top: 35px;
  background: white;
  height: 210px;
}

.MMM-OpenmapWeather .bright {
  color: black;
}

.newsfeed {
  background: white;
  margin-top: 35px;
  margin-left: 20px;
  padding: 20px;
  border-radius: 20px;
  width: 70vw;
  color: black;
  height: 210px;
}

.newsfeed .newsfeed-title {
  color: black;
  font-size: 3.5rem;
  line-height: normal;
}

.MMM-COVID19 {
  max-width: 91%;
  padding: 20px;
  border-radius: 20px;
  background: white;
  margin-left: 0.5%;
}

.MMM-COVID19 .module-content {
  font-size: 3rem;
}

.profit {
  padding: 25px;
  height: 100vh;
  background: #dddddd;
  min-width: 310px;
  max-width: 325px;
}

.profit .module-content {
  margin-top: 45px;
}

.profit--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 80vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profit--block {
  background: whitesmoke;
  padding: 30px 20px 30px 20px;
  border-radius: 20px;
}

.profit--block-header {
  font-weight: normal;
  font-size: 1.75rem;
  text-align: right;
  color: #888888;
}

.profit--block-number {
  font-size: 2.5rem;
  font-weight: bold;
  color: #696969;
  text-align: right;
}

.profit--block-percent {
  margin-left: 5px;
  font-weight: 500;
  font-size: 2.35rem;
  margin-left: 5px;
}

.profit--block-percent.red {
  color: lightcoral;
}

.profit--block-percent.green {
  color: lightgreen;
}

.pv_double {
  margin-left: 64%;
  margin-top: 20px;
}

#module_11_pv {
  margin-left: 64%;
  margin-top: -9px;
}

#module_12_pv {
  margin-left: 64%;
  margin-top: 20px;
}

.pv {
  margin-left: 25px;
  margin-bottom: 0;
  margin-top: 20px;
}

.pv--wrapper {
  padding: 20px;
  background: white;
  border-radius: 20px;
}

.pv--wrapperdouble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pv--block {
  padding: 70px 0 100px 0;
  z-index: 5;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
}

.pv--block-graph {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 0;
  width: 100%;
  max-width: 150px;
}

.pv--block-efficiency {
  font-size: 2.75rem;
}

.pv--container {
  position: relative;
  min-height: 230px;
  min-width: 243px;
}

.pv--container-double {
  min-height: 272px;
  min-width: 280px;
}

.pv--container-double .pv--headline-4 {
  margin-top: 10px;
}

.pv--headline-4 {
  margin-bottom: 0;
}

#module_13_vorlauf {
  padding-left: 23px;
  padding-top: 20px;
}

.vorlauf--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  background: white;
  padding: 20px;
  width: 860px;
}

.vorlauf--wrapper canvas {
  width: 860px !important;
}

.status {
  margin-top: 50px;
  min-width: 718px;
  margin-left: -19.3%;
}

.status--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 527px;
  padding: 0 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 20px;
  background: white;
}

.status--wrapper_one {
  max-width: unset;
  height: 330px;
}

.status--wrapper_one .status--block-indicator {
  left: 47%;
}

.status--wrapper_two {
  min-width: 584px;
}

.status--wrapper_two .status--headline-4 {
  font-size: 20px;
  text-align: center;
}

.status--wrapper_two .status--block-indicator {
  left: 47%;
}

.status--wrapper_seven {
  position: absolute;
  top: 300%;
  left: 20.85%;
}

.status--wrapper_eight {
  right: 12.3%;
  position: absolute;
  top: 300%;
}

.status--headline-4 {
  font-size: 24px;
  margin: 0;
  min-height: 64px;
  margin-top: 15px;
}

.status--block-twothird {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.status--block-center {
  display: block;
  margin: auto;
  margin-bottom: 0;
}

.status--block-left {
  position: relative;
  min-width: 200px;
}

.status--block-helper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  min-height: 225px;
}

.status--block-graph {
  position: absolute;
  width: 200px;
  left: 12%;
}

.status--block-indicator {
  position: absolute;
  width: 20px;
  top: 38%;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  left: 51%;
  -webkit-transform-origin: 50% 10px;
          transform-origin: 50% 10px;
  -webkit-transform: rotate(43deg);
          transform: rotate(43deg);
}

.status--block-efficiency {
  color: #666666;
}

.status--block-effiText {
  color: #666666;
  font-size: 14px;
}

.status--block-right {
  background: #cacaca;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.status--right {
  width: 40%;
}

.status--right-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.status--right-row .status--text-grey {
  font-size: 1.5rem;
  font-weight: 500;
  color: #666666;
  margin-left: 15px;
  margin-right: 10px;
}

.status--right-row .status--text-number {
  margin-right: 15px;
  font-size: 1.5rem;
  color: white;
  font-weight: 700;
}

.status_three {
  margin-top: 35px;
  margin-left: -28%;
}

.status_four {
  margin-top: 35px;
  margin-left: -18%;
}

.status_five .status--wrapper_five {
  margin-left: auto;
  margin-right: 120px;
  max-width: 527px;
  margin-right: 12.25%;
}

.status_six {
  margin-top: 22px;
}

.average {
  margin: auto;
  min-width: 718px;
}

.average--wrapper {
  background-image: url("/modules/average/public/average_background.png");
  margin: auto;
  padding: 40px;
  border-radius: 20px;
  background-size: cover;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.average--left-wrapper {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  position: relative;
}

.average--left-content {
  padding: 50px 0 40px 0;
  margin-left: 40%;
}

.average--right-wrapper {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  position: relative;
}

.average--right-content {
  padding: 50px 0 40px 0;
  margin-left: 40%;
}

.average--container {
  width: 47%;
}

.average--image-graph {
  position: absolute;
  width: 110px;
  left: 8%;
  top: 20%;
}

.average--image-weight {
  position: absolute;
  width: 90px;
  left: 18%;
  top: 23%;
}

.delivery_status {
  display: inline-block;
  text-align: center;
  max-width: 330px;
  margin-top: 50px;
}

.delivery_status--wrapper {
  border-radius: 20px;
  background: white;
}

.delivery_status--container {
  padding-bottom: 50px;
}

.delivery_status--headline {
  margin: 0;
  padding-top: 15px;
  font-size: 2rem;
  font-weight: 700;
}

.delivery_status .progress-ring__circle {
  stroke-dasharray: 10 20;
  -webkit-transition: stroke-dashoffset 0.35s;
  transition: stroke-dashoffset 0.35s;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.delivery_status--graph-container {
  padding: 10px 0 20px 0;
  min-width: 330px;
  position: relative;
}

.delivery_status--graph-container .graph--text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.delivery_status--graph-text {
  font-size: 1rem;
}

.delivery_status--graph-number {
  font-size: 3rem;
  font-weight: 600;
}

.delivery_status--text-wrapper {
  padding: 40px 0;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: #cacaca;
}

.delivery_status--text-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: 200px;
  margin: 0 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.delivery_status--text-copytext {
  font-size: 1.5rem;
  color: #666666;
  margin-left: 0;
  margin-right: 0;
}

.delivery_status--text-number {
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  margin-left: 0;
  margin-right: 0;
}

.deliveries_by_country {
  max-width: 330px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: 5%;
  display: inline-block;
}

.deliveries_by_country--wrapper {
  border-radius: 20px;
  background: white;
}

.deliveries_by_country--helper {
  position: absolute;
  right: 2.4%;
  top: 11%;
}

.deliveries_by_country--container {
  padding-bottom: 50px;
  padding-top: 220px;
}

.deliveries_by_country--headline {
  padding-top: 15px;
  font-size: 2rem;
  font-weight: 700;
}

.deliveries_by_country--graph-wrapper {
  padding-top: 10px;
}

.deliveries_by_country .lightgrey {
  background: #a5a5a5;
}

.deliveries_by_country .darkgrey {
  background: #5f5f5f;
}

.deliveries_by_country .lightblue {
  background: #70c3ed;
}

.deliveries_by_country .orange {
  background: orange;
}

.deliveries_by_country .chart {
  background: conic-gradient(#a5a5a5 19%, #5f5f5f 0 40%, #70c3ed 0 65%, orange 0);
  border-radius: 50%;
  width: 200px;
  margin: auto;
  height: 0;
  padding-top: 200px;
}

.deliveries_by_country--text-wrapper {
  padding: 20px 60px;
  margin-top: 69px;
  background: #cacaca;
  min-height: 140px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.deliveries_by_country--rect {
  width: 20px;
  height: 20px;
  margin: auto 20px auto 0;
}

.deliveries_by_country--rect-orange {
  background: orange;
}

.deliveries_by_country--rect-lightgrey {
  background: #a5a5a5;
}

.deliveries_by_country--rect-darkgrey {
  background: #5f5f5f;
}

.deliveries_by_country--rect-lightblue {
  background: #70c3ed;
}

.deliveries_by_country--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.deliveries_by_country--row-text {
  font-size: 1.5rem;
  color: #666;
  margin-left: 0;
  margin-right: 0;
  padding-right: 20px;
}

.deliveries_by_country--row-number {
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: 0;
}

.profit_graph {
  min-width: 680px;
}

.profit_graph--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  background: white;
  padding: 20px;
  width: 678px;
  margin-left: 37px;
}

.profit_graph--helper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profit_graph--y_axe-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profit_graph--y_axe-text {
  margin-left: 0;
  display: block;
  font-size: 14px;
  width: auto;
}

.profit_graph--x_axe-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
  border-top: 1px solid;
  margin-top: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.profit_graph--x_axe-month {
  font-size: 14px;
}

.profit_graph--chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
}

.avg_delivery_time {
  min-width: 680px;
}

.avg_delivery_time--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  background: white;
  padding: 20px;
}

.avg_delivery_time--chart {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (1fr)[100];
      grid-template-rows: repeat(100, 1fr);
  grid-column-gap: 5px;
  height: 14vh;
  width: 70vw;
  padding: 5px 0;
}

.avg_delivery_time--x_axe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.avg_delivery_time--x_axe-month {
  font-size: 12px;
}

.avg_delivery_time [class*="bar"] {
  margin: 0 15px;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  background-color: #70c3ed;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 101;
}

.avg_delivery_time .bar-1 {
  -ms-grid-row: 100;
      grid-row-start: 100;
}

.avg_delivery_time .bar-2 {
  -ms-grid-row: 99;
      grid-row-start: 99;
}

.avg_delivery_time .bar-3 {
  -ms-grid-row: 98;
      grid-row-start: 98;
}

.avg_delivery_time .bar-4 {
  -ms-grid-row: 97;
      grid-row-start: 97;
}

.avg_delivery_time .bar-5 {
  -ms-grid-row: 96;
      grid-row-start: 96;
}

.avg_delivery_time .bar-6 {
  -ms-grid-row: 95;
      grid-row-start: 95;
}

.avg_delivery_time .bar-7 {
  -ms-grid-row: 94;
      grid-row-start: 94;
}

.avg_delivery_time .bar-8 {
  -ms-grid-row: 93;
      grid-row-start: 93;
}

.avg_delivery_time .bar-9 {
  -ms-grid-row: 92;
      grid-row-start: 92;
}

.avg_delivery_time .bar-10 {
  -ms-grid-row: 91;
      grid-row-start: 91;
}

.avg_delivery_time .bar-11 {
  -ms-grid-row: 90;
      grid-row-start: 90;
}

.avg_delivery_time .bar-12 {
  -ms-grid-row: 89;
      grid-row-start: 89;
}

.avg_delivery_time .bar-13 {
  -ms-grid-row: 88;
      grid-row-start: 88;
}

.avg_delivery_time .bar-14 {
  -ms-grid-row: 87;
      grid-row-start: 87;
}

.avg_delivery_time .bar-15 {
  -ms-grid-row: 86;
      grid-row-start: 86;
}

.avg_delivery_time .bar-16 {
  -ms-grid-row: 85;
      grid-row-start: 85;
}

.avg_delivery_time .bar-17 {
  -ms-grid-row: 84;
      grid-row-start: 84;
}

.avg_delivery_time .bar-18 {
  -ms-grid-row: 83;
      grid-row-start: 83;
}

.avg_delivery_time .bar-19 {
  -ms-grid-row: 82;
      grid-row-start: 82;
}

.avg_delivery_time .bar-20 {
  -ms-grid-row: 81;
      grid-row-start: 81;
}

.avg_delivery_time .bar-21 {
  -ms-grid-row: 80;
      grid-row-start: 80;
}

.avg_delivery_time .bar-22 {
  -ms-grid-row: 79;
      grid-row-start: 79;
}

.avg_delivery_time .bar-23 {
  -ms-grid-row: 78;
      grid-row-start: 78;
}

.avg_delivery_time .bar-24 {
  -ms-grid-row: 77;
      grid-row-start: 77;
}

.avg_delivery_time .bar-25 {
  -ms-grid-row: 76;
      grid-row-start: 76;
}

.avg_delivery_time .bar-26 {
  -ms-grid-row: 75;
      grid-row-start: 75;
}

.avg_delivery_time .bar-27 {
  -ms-grid-row: 74;
      grid-row-start: 74;
}

.avg_delivery_time .bar-28 {
  -ms-grid-row: 73;
      grid-row-start: 73;
}

.avg_delivery_time .bar-29 {
  -ms-grid-row: 72;
      grid-row-start: 72;
}

.avg_delivery_time .bar-30 {
  -ms-grid-row: 71;
      grid-row-start: 71;
}

.avg_delivery_time .bar-31 {
  -ms-grid-row: 70;
      grid-row-start: 70;
}

.avg_delivery_time .bar-32 {
  -ms-grid-row: 69;
      grid-row-start: 69;
}

.avg_delivery_time .bar-33 {
  -ms-grid-row: 68;
      grid-row-start: 68;
}

.avg_delivery_time .bar-34 {
  -ms-grid-row: 67;
      grid-row-start: 67;
}

.avg_delivery_time .bar-35 {
  -ms-grid-row: 66;
      grid-row-start: 66;
}

.avg_delivery_time .bar-36 {
  -ms-grid-row: 65;
      grid-row-start: 65;
}

.avg_delivery_time .bar-37 {
  -ms-grid-row: 64;
      grid-row-start: 64;
}

.avg_delivery_time .bar-38 {
  -ms-grid-row: 63;
      grid-row-start: 63;
}

.avg_delivery_time .bar-39 {
  -ms-grid-row: 62;
      grid-row-start: 62;
}

.avg_delivery_time .bar-40 {
  -ms-grid-row: 61;
      grid-row-start: 61;
}

.avg_delivery_time .bar-41 {
  -ms-grid-row: 60;
      grid-row-start: 60;
}

.avg_delivery_time .bar-42 {
  -ms-grid-row: 59;
      grid-row-start: 59;
}

.avg_delivery_time .bar-43 {
  -ms-grid-row: 58;
      grid-row-start: 58;
}

.avg_delivery_time .bar-44 {
  -ms-grid-row: 57;
      grid-row-start: 57;
}

.avg_delivery_time .bar-45 {
  -ms-grid-row: 56;
      grid-row-start: 56;
}

.avg_delivery_time .bar-46 {
  -ms-grid-row: 55;
      grid-row-start: 55;
}

.avg_delivery_time .bar-47 {
  -ms-grid-row: 54;
      grid-row-start: 54;
}

.avg_delivery_time .bar-48 {
  -ms-grid-row: 53;
      grid-row-start: 53;
}

.avg_delivery_time .bar-49 {
  -ms-grid-row: 52;
      grid-row-start: 52;
}

.avg_delivery_time .bar-50 {
  -ms-grid-row: 51;
      grid-row-start: 51;
}

.avg_delivery_time .bar-51 {
  -ms-grid-row: 50;
      grid-row-start: 50;
}

.avg_delivery_time .bar-52 {
  -ms-grid-row: 49;
      grid-row-start: 49;
}

.avg_delivery_time .bar-53 {
  -ms-grid-row: 48;
      grid-row-start: 48;
}

.avg_delivery_time .bar-54 {
  -ms-grid-row: 47;
      grid-row-start: 47;
}

.avg_delivery_time .bar-55 {
  -ms-grid-row: 46;
      grid-row-start: 46;
}

.avg_delivery_time .bar-56 {
  -ms-grid-row: 45;
      grid-row-start: 45;
}

.avg_delivery_time .bar-57 {
  -ms-grid-row: 44;
      grid-row-start: 44;
}

.avg_delivery_time .bar-58 {
  -ms-grid-row: 43;
      grid-row-start: 43;
}

.avg_delivery_time .bar-59 {
  -ms-grid-row: 42;
      grid-row-start: 42;
}

.avg_delivery_time .bar-60 {
  -ms-grid-row: 41;
      grid-row-start: 41;
}

.avg_delivery_time .bar-61 {
  -ms-grid-row: 40;
      grid-row-start: 40;
}

.avg_delivery_time .bar-62 {
  -ms-grid-row: 39;
      grid-row-start: 39;
}

.avg_delivery_time .bar-63 {
  -ms-grid-row: 38;
      grid-row-start: 38;
}

.avg_delivery_time .bar-64 {
  -ms-grid-row: 37;
      grid-row-start: 37;
}

.avg_delivery_time .bar-65 {
  -ms-grid-row: 36;
      grid-row-start: 36;
}

.avg_delivery_time .bar-66 {
  -ms-grid-row: 35;
      grid-row-start: 35;
}

.avg_delivery_time .bar-67 {
  -ms-grid-row: 34;
      grid-row-start: 34;
}

.avg_delivery_time .bar-68 {
  -ms-grid-row: 33;
      grid-row-start: 33;
}

.avg_delivery_time .bar-69 {
  -ms-grid-row: 32;
      grid-row-start: 32;
}

.avg_delivery_time .bar-70 {
  -ms-grid-row: 31;
      grid-row-start: 31;
}

.avg_delivery_time .bar-71 {
  -ms-grid-row: 30;
      grid-row-start: 30;
}

.avg_delivery_time .bar-72 {
  -ms-grid-row: 29;
      grid-row-start: 29;
}

.avg_delivery_time .bar-73 {
  -ms-grid-row: 28;
      grid-row-start: 28;
}

.avg_delivery_time .bar-74 {
  -ms-grid-row: 27;
      grid-row-start: 27;
}

.avg_delivery_time .bar-75 {
  -ms-grid-row: 26;
      grid-row-start: 26;
}

.avg_delivery_time .bar-76 {
  -ms-grid-row: 25;
      grid-row-start: 25;
}

.avg_delivery_time .bar-77 {
  -ms-grid-row: 24;
      grid-row-start: 24;
}

.avg_delivery_time .bar-78 {
  -ms-grid-row: 23;
      grid-row-start: 23;
}

.avg_delivery_time .bar-79 {
  -ms-grid-row: 22;
      grid-row-start: 22;
}

.avg_delivery_time .bar-80 {
  -ms-grid-row: 21;
      grid-row-start: 21;
}

.avg_delivery_time .bar-81 {
  -ms-grid-row: 20;
      grid-row-start: 20;
}

.avg_delivery_time .bar-82 {
  -ms-grid-row: 19;
      grid-row-start: 19;
}

.avg_delivery_time .bar-83 {
  -ms-grid-row: 18;
      grid-row-start: 18;
}

.avg_delivery_time .bar-84 {
  -ms-grid-row: 17;
      grid-row-start: 17;
}

.avg_delivery_time .bar-85 {
  -ms-grid-row: 16;
      grid-row-start: 16;
}

.avg_delivery_time .bar-86 {
  -ms-grid-row: 15;
      grid-row-start: 15;
}

.avg_delivery_time .bar-87 {
  -ms-grid-row: 14;
      grid-row-start: 14;
}

.avg_delivery_time .bar-88 {
  -ms-grid-row: 13;
      grid-row-start: 13;
}

.avg_delivery_time .bar-89 {
  -ms-grid-row: 12;
      grid-row-start: 12;
}

.avg_delivery_time .bar-90 {
  -ms-grid-row: 11;
      grid-row-start: 11;
}

.avg_delivery_time .bar-91 {
  -ms-grid-row: 10;
      grid-row-start: 10;
}

.avg_delivery_time .bar-92 {
  -ms-grid-row: 9;
      grid-row-start: 9;
}

.avg_delivery_time .bar-93 {
  -ms-grid-row: 8;
      grid-row-start: 8;
}

.avg_delivery_time .bar-94 {
  -ms-grid-row: 7;
      grid-row-start: 7;
}

.avg_delivery_time .bar-95 {
  -ms-grid-row: 6;
      grid-row-start: 6;
}

.avg_delivery_time .bar-96 {
  -ms-grid-row: 5;
      grid-row-start: 5;
}

.avg_delivery_time .bar-97 {
  -ms-grid-row: 4;
      grid-row-start: 4;
}

.avg_delivery_time .bar-98 {
  -ms-grid-row: 3;
      grid-row-start: 3;
}

.avg_delivery_time .bar-99 {
  -ms-grid-row: 2;
      grid-row-start: 2;
}

.avg_delivery_time .bar-100 {
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.avg_delivery_time .bar-101 {
  -ms-grid-row: 0;
      grid-row-start: 0;
}

.avg_delivery_time--helper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.MMM-Chart {
  background: white;
  margin-left: 4%;
  border-radius: 20px;
  padding: 20px;
  margin-top: -30px;
}

.compare {
  margin-left: auto;
  margin-right: 92px;
  min-width: 680px;
  margin-bottom: 38px;
}

.compare--wrapper {
  max-width: 580px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 20px;
  background: white;
}

.compare .status--block-indicator {
  left: 57%;
}

.compare .status--headline-4 {
  font-size: 24px;
}

.compare--graph {
  bottom: unset;
  top: 12%;
}

.compare--block-center {
  position: absolute;
  left: 11%;
  top: -11%;
}

.compare--block-right {
  margin: 44px auto 0 auto;
}

.compare .status--block-helper {
  position: relative;
}

.compare .status--block-left {
  margin-right: auto;
}

.compare .status--block-twothird {
  width: 100%;
}

.compare--indicator {
  left: 46%;
  top: 49%;
}

.MMM-Trello {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  margin-left: 5%;
  min-height: 270px;
  max-width: 900px;
  min-width: 840px;
  width: 100%;
  color: black;
}

.MMM-Trello .module-header {
  font-size: 3rem;
  line-height: normal;
}

.MMM-Trello .small.light {
  font-size: 30px;
}

.MMM-Trello .medium.light.bright {
  word-wrap: break-word;
  font-size: 3.75rem;
  color: darkgray;
  line-height: normal;
  font-weight: bold;
}

.top.right .MMM-Trello {
  display: block;
  margin-left: 56%;
  width: 100%;
}

.MMM-Fuel {
  padding: 20px;
  border-radius: 20px;
  background: white;
  max-width: 91%;
  margin-left: 0.5%;
}

.MMM-Fuel .module-content .small.table.align-left {
  font-size: 3rem !important;
  line-height: normal !important;
}

/*
@media only screen and (min-width: 600px ) {
    //profti module
    .profit {
        padding: 25px;
        &--block {
            margin: 15px 0;
            padding: 10px;
            &-header {
                font-size: $profit--headline-fontsize_mobile;
            }
            &-number {
                font-size: $profit--number-fontsize_mobile;
            }
            &-percent {
                font-size: $profit--percent-fontsize_mobile;
            }
        }
    }

    //status module
    .status {
        &--wrapper {
            padding: 0 25px;
            display: flex;
            border-radius: 20px;;
            background: white;
        }
        &--block {
            &-helper {
                //padding: 30px 20px 30px 110px;
                position: relative;
            }
            &-graph {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100px;
            }
            &-indicator {
                width: 12px;
                position: absolute;
                top: 54%;
                left: 16%;
                transform-origin: 50% 6px;
                transform: rotate(43deg);
            }
            &-efficiency {
                font-size: $status--efficiency_mobile;   
            }
            &-effiText {
                font-size: $status--efficiency_mobile;
            }

        }
        &--right {
            &-row {
                display: flex;
                flex-direction: row;
                .status--text {
                    &-grey {
                        font-size: $status--right-textsize;
                        font-weight: $status--right-textweight;
                        color: $status--right-textcolor;
                    }
                    &-number {
                        font-size: $status--right-textsize;
                        color: $status--right-numbercolor;
                        font-weight: $status--right-numberweight;
                    }
                }
            }
        }
    }

    
        
}
*/
/*
@media only screen and (min-width: 1600px) {
        //profti module
        .profit {
            padding: 25px;
            height: 100vh;
            background: #dddddd;
            
            .module-content {
                margin-top: 45px;
                margin-left: 15px;
            }
            &--wrapper {
                display: flex;
                flex-direction: column;
                min-height: 80vh;
                justify-content: space-between;
            }
            &--block {
                background: whitesmoke;
                padding: 30px 20px 30px 100px;
                border-radius: 20px;
    
                &-header {
                    font-weight: normal;
                    font-size: $profit--headline-fontsize;
                    text-align: right;
                    color: #888888;
                }
                &-number {
                    font-size: $profit--number-fontsize;
                    font-weight: bold;
                    color: #696969;
                }
                &-percent {
                    color: lightcoral;
                    font-weight: 500;
                    font-size: $profit--percent-fontsize;
                    margin-left: 5px;
                }
            }
        }
    
        //status module
        .status {
            margin-top: 50px;
            &--wrapper {
                display: flex;
                padding: 0 50px;
                border-radius: 20px;;
                background: white;
            }
            &--headline {
                &-4 {
                    margin: 0;
                    margin-top: 15px;
                }
            }
            &--block {
                &-twothird {
                    display: flex;
                    flex-direction: column;
                }
                &-center {
                    min-width: 100px;
                    display: block;
                    margin: auto 70px;
                }
                &-left {
                    position: relative;
                    min-width: 200px;
                }
                &-graph {
                    position: absolute;
                    width: 200px;
                    left: 0;
                    bottom: 0;
                }
                &-helper {
                    display: flex;
                    flex-direction: row;
                    min-height: 225px;
                }
                &-indicator {
                    position: absolute;
                    width: 20px;
                    top: 50%;
                    left: 44%;
                    transform-origin: 50% 10px;
                    transform: rotate(43deg);
                }
                &-efficiency {
                    color: #666666;
                }
                &-effiText {
                    color: #666666;
                    font-size: 14px;
                }
                &-right {
                    background: #cacaca;
                    padding: 40px 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                }
            }
            &--right {
                &-row {
                    display: flex;
                    flex-direction: row;
                    min-width: 250px;
                    .status--text {
                        &-grey {
                            font-size: $status--right-textsize;
                            font-weight: $status--right-textweight;
                            color: $status--right-textcolor;
                            margin-left: 15px;
                        }
                        &-number {
                            margin-right: 15px;
                            font-size: $status--right-textsize;
                            color: $status--right-numbercolor;
                            font-weight: $status--right-numberweight;
                        }
                    }
                }
            }
        }
    
        .average {
            min-width: 840px;
            margin: auto;
            &--wrapper {
                background-image: url("/modules/average/public/average_background.png");
                margin: auto;
                padding: 40px;
                border-radius: 20px;
                background-size: cover;
                justify-content: space-between;
                background-repeat: no-repeat;
                display: flex;
                flex-direction: row;
            }
            &--left {
                &-wrapper {
                    background: rgba(255, 255, 255, 0.9);
                    border-radius: 20px;
                    position: relative;
                }
                &-content {
                    padding: 50px 0 40px 0;
                    margin-left: 40%;
                }
            }
            &--right {
                &-wrapper {
                    background: rgba(255, 255, 255, 0.9);
                    border-radius: 20px;
                    position: relative;
                }
                &-content {
                    padding: 50px 0 40px 0;
                    margin-left: 40%;
                }
            }
            &--container {
                width: 47%;
            }
            &--image {
                &-graph {
                    position: absolute;
                    width: 150px;
                    left: 8%;
                    top: 15%;
                }
                &-weight {
                    position: absolute;
                    width: 90px;
                    left: 18%;
                    top: 23%;
                }
            }
        }

       

}*/
/*# sourceMappingURL=custom.css.map */