$profit--headline-fontsize: 1.75rem;
$profit--number-fontsize: 2.5rem;
$profit--percent-fontsize: 2.35rem;
$profit--headline-fontsize_mobile: 0.75rem;
$profit--number-fontsize_mobile: 1.25rem;
$profit--percent-fontsize_mobile: 1.135rem;
$status--right-textsize: 1.5rem;
$status--efficiency_mobile: 1.5rem;
$status--right-textweight: 500;
$status--right-numberweight: 700;
$status--right-textcolor: #666666;
$status--right-numbercolor: white;
$delivery--headline-fontsize: 2rem;
$delivery--headline-fontweight: 700;

$module--border-radius: 20px;

$spacer--top: 50px;
$min-width-big: 680px;