.currency {
    color: black;
}

.mmm-cryptocurrency > tr {
    padding-bottom: 8px;
}

.mmm-cryptocurrency > tr > td, .mmm-cryptocurrency > tr > th {
    padding-left: 32px;
    padding-bottom: 5px;
}

.mmm-cryptocurrency-icon > tr > td > img, span{
    vertical-align: middle;
}
.mmm-cryptocurrency-icon > tr > td {
    padding-bottom: 10px;
    text-align: right;
}
.mmm-cryptocurrency tr.header-row th {
    border-bottom: 1px solid #666;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.mmm-cryptocurrency *:first-child {
    padding-left: 0;
}
.mmm-cryptocurrency-icon .icon-field {
    padding-right: 10px;
}

.mmm-cryptocurrency-icon > tr > td.graph > img {
    padding-left: 10px;
    filter: invert(1) grayscale(100%) brightness(500%);
}
.black{
    filter: invert(70%)!important;
    margin-right: 20px;
}
.MMM-cryptocurrency{
    position: absolute!important;
    top: 60px!important;
    left: 60px!important;
    right: 60px!important;
    bottom: 60px!important;
    pointer-events: none;
}
.nameWrapper{
    vertical-align: top!important;
    padding-top: 10px!important;
    text-align: left!important;
    margin-left: 10px;
}
.name{
    font-size: 55px;
}
.module-header{
    text-align: center;
    font-size: 100px;
    margin-bottom: 0px!important;
    padding-top: 20px!important;
    line-height: normal!important;
}
.price-wrapper{
    text-align: left!important;
    padding-bottom: 0px!important;
}
.graph{
    text-align: left!important;
}
.icon-field{
    padding-top: 0!important;

}
.mmm-cryptocurrency-icon{
    border-spacing: 15px!important;
}